meta(name='viewport', content='width=device-width, initial-scale=1')
meta(charset='utf-8')

//- Tabler: https://preview.tabler.io/docs/
script(src="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/js/tabler.min.js")
link(rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/css/tabler.min.css")

title Equipment Booking System
