nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.border-bottom
	.container
		span.navbar-brand.d-none.d-sm-block Equipment Booking System
		span.navbar-brand.d-sm-none Booking System

		button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbar-collapse', aria-controls='navbar-collapse', aria-expanded='false', aria-label='Toggle Navigation')
			span.navbar-toggler-icon

		#navbar-collapse.collapse.navbar-collapse
			ul.navbar-nav.me-auto.mb-2.mb-lg-0
				each name, index in ['Catalogue', 'Booking', 'Report', 'Item Details']
					li.nav-item
						a.nav-link(class={ 'active': page === index + 1 }, aria-current=(page === index + 1 && 'page'), href='#')=name

			ul.navbar-nav.mb-2.mb-lg-0
				if user !== undefined
						li.nav-item.dropdown
							a#user-menu.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')=user.name + ' '
							ul.dropdown-menu(aria-labelledby='user-menu')
								li
									a.dropdown-item(href='#') Settings
								li
									hr.dropdown-divider
								li
									a#logout-link.dropdown-item(href='/api/logout') Log Out
				else
					button.btn.btn-outline-primary(type='button', data-bs-toggle='modal' data-bs-target='#login-modal') Log In
