mixin navigation
	header.navbar.navbar-expand-md.navbar-light.d-print-none
		.container-xl
			button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbar-menu', aria-expanded='false')
				span.navbar-toggler-icon

			h1.navbar-brand.navbar-brand-autodark.d-none-navbar-horizontal.pe-0.pe-md-3
				a.d-none.d-sm-block Equipment Booking System
				a.d-sm-none Booking System

			.navbar-nav.flex-row.order-md-last
				.nav-item.dropdown
					a.nav-link.d-flex.lh-1.text-reset.p-0(href='#', data-bs-toggle='dropdown', aria-label='User Menu')
						span.avatar.avatar-sm
							include ../../public/images/user.svg

					.dropdown-menu.dropdown-menu-end
						span.dropdown-header Display
						a.dropdown-item(href='#', aria-label='Toggle Theme') Change Theme

						.dropdown-divider
						
						span.dropdown-header User
						a.dropdown-item(href='#', aria-label='Sign In') Sign In

			#navbar-menu.navbar-collapse.collapse
				.d-flex.flex-column.flex-md-row.flex-fill.align-items-stretch.align-items-md-center
					ul.navbar-nav
						each name, index in ['Catalogue', 'Booking', 'Report', 'Item Details']
							li.nav-item(class={'active': page === index + 1})
								a.nav-link(href='#')
									span.nav-link-title=name
