//- Page List
-
	const pageList = user !== undefined
		? [ { name: 'Create Booking', url: '' }, { name: 'Item Details', url: 'item_details' }, { name: 'Item Catalogue', url: 'catalogue' }, { name: 'Daily Report', url: 'report' } ]
		: [ { name: 'Create Booking', url: '' }, { name: 'Item Details', url: 'item_details' } ];

//- Navigation HTML
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
	.container
		span.navbar-brand.d-none.d-sm-block Equipment Booking System
		span.navbar-brand.d-sm-none Booking System

		button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbar-collapse', aria-controls='navbar-collapse', aria-expanded='false', aria-label='Toggle Navigation')
			span.navbar-toggler-icon

		#navbar-collapse.collapse.navbar-collapse
			ul.navbar-nav.me-auto
				each page, index in pageList
					li.nav-item
						a.nav-link(class={ 'active': current_url === '/' + page.url }, aria-current=(current_url === '/' + page.url && 'page'), href=('/' + page.url))=page.name

			ul.navbar-nav.mb-2.mb-lg-0
				if user !== undefined
						li.nav-item.dropdown
							a#user-menu.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')=user.name + ' '
							ul.dropdown-menu(aria-labelledby='user-menu')
								li: a.dropdown-item(href='/settings') Settings
								li: hr.dropdown-divider
								li: a#logout-link.dropdown-item(href='/api/auth/logout') Log Out
				else
					button.btn.btn-outline-light.mt-2.mt-lg-0(type='button', data-bs-toggle='modal' data-bs-target='#login-modal') Log In
