include includes/navigation.pug

head
	include includes/head.pug

body.antialiased(class={'theme-dark': isDark})
	+navigation(1)

	.page-wrapper
		.page-body
			.container-xl.d-flex.flex-column.justify-content-center
				.empty
					p.empty-title Hello, world!
					p.empty-subtitle.text-muted This page is currently under development.

	include includes/scripts.pug
