a[aria-label="Toggle Theme"] img {
	background-color: currentColor;

	width: 24px;
	height: 24px;
	
	-webkit-mask: url(/images/sun-off.svg) no-repeat center / contain;
	mask: url(/images/sun-off.svg) no-repeat center / contain;
}

.theme-dark a[aria-label="Toggle Theme"] img {
	background-color: currentColor;

	width: 24px;
	height: 24px;
	
	-webkit-mask: url(/images/sun.svg) no-repeat center / contain;
	mask: url(/images/sun.svg) no-repeat center / contain;
}
